
<!-- (*) assigned classes -->

<!-- *class view-login / background color -->
<ion-view hide-nav-bar="true" class="view-login">
    <ion-content padding="true" style=" margin-top:100px">
        <!-- *class logo / logo company or app -->

   
        <div class="logo">
            <img src="img/logo.png" width="300px" height:"100px" alt="Company">
        </div>
        <form>
            <div  class="list list-inset">
               
                
                <span>Hemen aşağıdakilerden biriyle giriş yap ve Activityo'nun tadını çıkar.</span>
                <br>
                <button ng-click="loginFacebook()" class="button button-block icon ion-social-facebook-outline button-royal">
                </button>
                <button ng-click="loginGoogle()" class="button button-block icon ion-social-googleplus-outline button-royal">
                </button>
            </div>
        </form>

 
    </ion-content>
</ion-view>