<ion-view hide-tabs cache-view="false" hide-nav-bar="true" view-title="Kategoriler">
    <ion-content>
    <a href="#/tab/events/">
        <div style="position: relative;margin-bottom:1px;background-image: url('img/category-allactivities.jpg');background-size: cover;  background-repeat: no-repeat;width: 100%;height: 150px;">
            <h2 style="white-space: nowrap;float:left;color:white;margin-right:30px;margin-left:30px;margin-top:10px;           position: absolute; bottom: 0;" href="#/tab/events/">Tüm Aktiviteler</h2>
        </div>
    </a>
    <a href="#/tab/events/{{eventType}}" ng-repeat="eventType in eventTypes">
        <div style="position: relative;margin-bottom:1px;background-image: url('img/category-{{eventType}}.png');background-size: cover;  background-repeat: no-repeat;width: 100%;height: 150px;">
            <h2 style="white-space: nowrap;float:left;color:white;margin-right:30px;margin-left:30px;margin-top:10px; position: absolute;
            bottom: 0;" href="#/tab/events/{{eventType}}">{{eventType}}</h2>
        </div>
    </a>
    </ion-content>
</ion-view>